# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log
~$*.docx

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Java
*.class

# Docker
*.tar

# Local configs
.codex-m2/
local.properties

# Build
build/
